

.login{
    color:white;
    border-radius: 20px;
    margin-left:30% ;
    align-content: center;
    background-color: rgba(24, 23, 24, 0.5);
    width:40%;
    height:50%;
}

.login input{
    border-radius: 10px;
    width:150px;
}